body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
.heading-section {
    background-image: url("images/donation9.jpg");
    background-size: 1440PX 669px; 
    align-content: center;
    background-repeat: no-repeat;
    text-align: center;
    radius:0;
    text-size-adjust: 826px 320px;
    margin-top: 2%;
    margin-bottom: 5%;
}
.link-button {
    text-decoration:solid;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}